@using WebApp.Strategy.Models;
@model Settings
@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Settings" asp-action="ChangeDatabase" method="post">
    <select name="databaseType" asp-for="DatabaseType" asp-items="Html.GetEnumSelectList<DatabaseTypeEnum>()"></select>


    <button type="submit">Güncelle</button>
</form>

